@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

.counter-container {
    height: 20vh;
    width: 100vw;
   justify-content: center;
   display: flex;
}

.counter {
    border: 2px solid black;
    width: fit-content;
    height: fit-content;
    padding: 50px;
    border-radius: 50%;
    font-family: 'Manrope', sans-serif;
    background-color: rgb(249,234,214);
    

}

.bio-container {
    display: flex;
    width: 100vw;
    justify-content: center;
    font-family: 'Manrope', sans-serif;
}

.descr {
    border: 2px solid black;
    padding: 20px;
    border-radius: 10%;
    background-color: rgb(249,234,214);

}
